{% extends 'base.html' %}
{% block title %} Dashboard{% endblock %}
{% load static %}

{% block content %}
  <div class="">
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Home</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="bs-example" data-example-id="simple-jumbotron">
              <div class="jumbotron">
                <h1>DATA MINING</h1>
                <p>
                  Sistem Pendukung Keputusan Pemberian Beasiswa menggunakan metode K-NN
                </p>
                <p>
                  <a href="{% url 'input_data' %}" class="btn btn-bg btn-primary" >
                    <i class="fa fa-user"> Input Data Baru </i>
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
